.navbar{
    display: flex;
    padding: 1em;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 100px;
}

.navbar li{
    margin: 10px;

    
}

.navbar h2 {
    margin: 10px;
    padding-left: 125px;
    align-items: center;
}

.navbar a {
    color: aliceblue !important;
    text-decoration: none;
}



.navbar li:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition-duration: 0.5s;
}

.navbar h2:hover{
    transform: translateY(-10px);
    cursor: pointer;
    transition-duration: 0.5s;
}